@font-face {
  font-family: "Moon Get";
  src: url("./assets/fonts/moon_get-Heavy.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif; /* Utilisation de la police Outfit pour le corps du texte */
  background-color: #0d2760; /* Couleur de fond globale */
  color: #ffac49; /* Couleur du texte */
}

/* Classes utilitaires pour la police du logo */
.font-logo {
  font-family: "Moon Get", sans-serif;
}

/* Classes utilitaires pour la police des titres */
.font-titles {
  font-family: "Outfit", sans-serif;
}
